# OSX Temp
.DS_Store
.AppleDouble
.LSOverride

# OSX Thumbnails
._*

# OSX Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Linux trash folder which might appear on any partition or disk
.Trash-*

# vim
*.swp
